<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="layout/default">
	
	<th:block layout:fragment="customTitle">
		<title th:text="${title}">회원목록조회</title> 
	</th:block>
	<th:block layout:fragment="customContent">
	
		<table border="1">
			<thead>
				<tr>
					<th>순번</th>
					<th>로그인아이디</th>
					<th>로그인날짜</th>
					<th>로그아웃날짜</th>
					
				</tr>
			</thead>
			<tbody>
				<tr th:each="l : ${loginHistory}">
					<td style="text-align:center;" 
					th:text="${#numbers.formatInteger(l.rowNum,0,'POINT')}"></td>
					<td th:text="${l.loginId}"></td>
					<td th:text="${l.loginDate}"></td>
					<td th:text="${l.logoutDate}"></td>
				</tr>			
			</tbody>
		</table>
		<a th:href="@{/getLoginHistory}">[맨처음]</a>
		<a th:if="${currentPage > 1}" th:href="@{/getLoginHistory(currentPage=${currentPage-1})}">[이전]</a>
		<a th:if="${currentPage > 1}" th:href="@{/getLoginHistory(currentPage=${currentPage-1})}" th:text="${currentPage-1}"></a>
		<a th:href="@{/getLoginHistory(currentPage=${currentPage})}" th:text="${currentPage}"></a>
		<a th:if = "${currentPage < lastPage}" th:href="@{/getLoginHistory(currentPage=${currentPage+1})}" th:text="${currentPage+1}"></a>
		<a th:if = "${currentPage < lastPage}" th:href="@{/getLoginHistory(currentPage=${currentPage+2})}" th:text="${currentPage+2}"></a>
		<a th:if = "${currentPage < lastPage}" th:href="@{/getLoginHistory(currentPage=${currentPage+3})}" th:text="${currentPage+3}"></a>
		<a th:if="${currentPage < lastPage}" th:href="@{/getLoginHistory(currentPage=${currentPage+1})}">[다음]</a>
		<a th:href="@{/getLoginHistory(currentPage=${lastPage})}">[맨마지막]</a>
		
	</th:block>
</html>