<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="layout/default">
	
	<th:block layout:fragment="customTitle">
		<title th:text="${title}"></title> 
	</th:block>
	<th:block layout:fragment="customContent">
				
		<table border="1">
			<thead>
				<tr>
					<th>상품코드</th>
					<th>상품이름</th>
					<th>상품가격</th>
					<th>판매자아이디</th>
					<th>판매자이름</th>
					<th>판매자이메일</th>
					<th>상품등록날짜</th>
					<th>수정</th>
					<th>삭제</th>
				</tr>
			</thead>
			<tbody>
				<th:block th:each="l : ${mGoodsList}">
					<th:block th:each="gl : ${l.goodsList}">
						<tr>
							<td th:text="${gl.goodsCode}"></td>
							<td th:text="${gl.goodsName}"></td>
							<td th:text="${gl.goodsPrice}"></td>
							<td th:text="${l.memberId}"></td>
							<td th:text="${l.memberName}"></td>
							<td th:text="${l.memberEmail}"></td>
							<td th:text="${gl.goodsRegDate}"></td>
							<td>
								<a th:href="@{#}">수정</a>
							</td>
							<td>
								<a th:href="@{#}">삭제</a>					
							</td>
						</tr>			
					</th:block>
				</th:block>
			</tbody>
		</table>
	</th:block>
</html>