<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ksmart36.mybatis.mapper.GoodsMapper">
	<resultMap type="Member" id="resultMember">
		<id property="memberId" column="m_id"/>
		<result column="m_id" 		property="memberId"/>
		<result column="m_pw" 		property="memberPw"/>
		<result column="m_name" 	property="memberName"/>
		<result column="m_level" 	property="memberLevel"/>
		<result column="m_email" 	property="memberEmail"/>
		<result column="m_addr" 	property="memberAddr"/>
		<result column="m_reg_date" property="memberRegDate"/>
		<collection property="goodsList" javaType="java.util.ArrayList" ofType="Goods" resultMap="resultGoods"/>
	</resultMap>
	<resultMap type="Goods" id="resultGoods">
		<result column="g_code" 		property="goodsCode"/>
		<result column="g_name" 		property="goodsName"/>
		<result column="g_price" 		property="goodsPrice"/>
		<result column="g_reg_date" 	property="goodsRegDate"/>
		<result column="g_seller_id" 	property="goodsSellerId"/>
	</resultMap>
	<select id="getGoodsList" resultMap="resultMember">
		SELECT 
			 g.g_code
			,g.g_name
			,g.g_price
			,m.m_id
			,m.m_name
			,m.m_email
			,g.g_reg_date
		FROM 
			tb_member AS m
			INNER JOIN 
			tb_goods AS g
			ON 
			m.m_id = g.g_seller_id; 
	</select>
</mapper>