<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="layout/default">
	
	<th:block layout:fragment="customTitle">
		<title th:text="${title}">회원목록조회</title> 
	</th:block>
	<th:block layout:fragment="customContent">

		<form action="/getMemberList" method="post">
			<select	name="sk">
				<option value="m_id">회원아이디</option>
				<option value="m_name">이름</option>
				<option value="m_level">권한</option>
				<option value="m_email">이메일</option>
				<option value="m_addr">주소</option>
			</select>
			<input type="text" name="sv"/>
			<button type="submit">검색</button>
		</form>
				
		<table border="1">
			<thead>
				<tr>
					<th>아이디</th>
					<th>비밀번호</th>
					<th>권한</th>
					<th>이름</th>
					<th>이메일</th>
					<th>주소</th>
					<th>등록일자</th>
					<th>수정</th>
					<th>삭제</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="l : ${memberList}">
					<td th:text="${l.memberId}"></td>
					<td th:text="${l.memberPw}"></td>
					<td th:text="${l.memberLevelName}"></td>
					<td th:text="${l.memberName}"></td>
					<td th:text="${l.memberEmail}"></td>
					<td th:text="${l.memberAddr}"></td>
					<td th:text="${l.memberRegDate}"></td>
					<td>
						<a th:href="@{/modifyMember(memberId=${l.memberId},memberPw=${l.memberPw})}">수정</a>
									<!-- localhost/modifyMember?memberId=id001&memberPw=pw001 -->
					</td>
					<td>
						<a th:href="@{/removeMember(memberId=${l.memberId})}">삭제</a>					
					</td>
				</tr>			
			</tbody>
		</table>
		
		
		
		
		
		
		
		
		
		
		
	</th:block>

</html>